_site
_site_preview
_site_verify
_site_verify2
_site_verify3
_site_verify4
_site_verify5
_site_verify6
_site_verify7
_site_verify8
_site_verify9
_site_verify10
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
node_modules
.bundle
.bundle-user
