node_modules
dist
.DS_Store
.sass-cache
.jekyll-cache
.jekyll-metadata
.bundle
.bundle-user
vendor
_site
_site_preview
_site_verify
_site_verify2
_site_verify3
_site_verify4
_site_verify5
_site_verify6
_site_verify7
_site_verify8
_site_verify9
_site_verify10
_site_verify11
_site_verify12
_site_verify13
_site_verify14
_site_verify15
_site_verify16
_site_verify17
_site_verify18
_site_verify19
_site_verify20
_site_verify21
_site_verify22
