<footer class="hyde footer-wrapper">
  <div class="hyde container">
    <div class="hyde footer">
      <div class="hyde footer-left">
        <p class="text">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </div>
      <div class="hyde footer-right">
        <p class="text footer-links">
          <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">GitHub</a>
          <span>/</span>
          <a href="mailto:{{ site.email }}">Email</a>
        </p>
        <p class="text footer-template">
          Original template: <a href="https://github.com/ChemistryX/hyde">Hyde</a>
        </p>
      </div>
    </div>
  </div>
</footer>
