// Variables

// Typography
$font-family: Mont, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

// Colors
$dark: #0f172a;
$dark200: #172033;
$dark300: #334155;
$dark400: #475569;
$gray: #64748b;
$gray200: #94a3b8;
$gray300: #cbd5e1;
$gray400: #e2e8f0;
$gray450: #f1f5f9;
$gray500: #f8fafc;
$primary: #2563eb;
$red: #f04568;
$secondary: #1d4ed8;

// Responsive
$large: 1024px;
$medium: 896px;
$small: 768px;
$extra-small: 576px;
